h1,h2{
	font-family: 'Shadows Into Light', cursive;
	color:darkgreen;
	text-align: center;
}
body{
position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form{
	
	width: 250px; /* Imposta la larghezza desiderata per il modulo */
  height: 100px; /* Imposta l'altezza desiderata per il modulo */
	float: left;
	display: inline;
	margin: 10px;
	padding: 10px;
	font-family: 'Shadows Into Light', cursive;
  color: white;
  background-color: seagreen;
	border-color: darkgreen;
	border-radius: 20px;
	
}

body {
  background-color: floralwhite;
  box-shadow: inset 0 200px rgb(95 169 62 / 44%);
  border-radius: 10px;
}