body {
    background-color: #ffffff; /* Colore di sfondo di fallback */
  background-image: linear-gradient(45deg, ghostwhite 25%, transparent 25%),
                    linear-gradient(45deg, transparent 75%, whitesmoke 75%),
                    linear-gradient(45deg, transparent 75%, #000000 75%);
  background-size: 20px 20px; /* Dimensioni della texture */
}
.instructions{
	width: "33%";
	float: left;
	display: inline;
	margin: 10px;
	padding: 10px;
	font-family: 'Patrick Hand', cursive;
	color: maroon;
}

h1{
	font-family: 'Shadows Into Light', cursive;
	
	color:midnightblue;
}
.my-fieldset {
	font-family: 'Shadows Into Light', cursive;
  color: white;
	background: linear-gradient(rgb(113 67 67 / 70%), rgb(32 55 127 / 30%), rgb(18 95 127 / 3%));
	background-color: seagreen;
	border-color: maroon;
	border-radius: 20px;
}
.formdiv {
	width: "33%";
	float: left;
	display: inline;
	margin: 10px;
	padding: 10px;
}

* {list-style: none;}
.normal{
	color: darkgreen;
	font-family: 'Patrick Hand', cursive;
	
}
.rossotop {
 
  color: red;
	font-family: 'Patrick Hand', cursive;
}


ul li {
  margin-left: 15px;
  position: relative;
  padding-left: 5px;
}

ul li::before {
  content: " ";
  position: absolute;
  width: 1px;
  background-color: darkgreen;
  top: 5px;
  bottom: -12px;
  left: -10px;
}

body > ul > li:first-child::before {top: 12px;}

ul li:not(:first-child):last-child::before {display: none;}

ul li:only-child::before {
  display: list-item;
  content: " ";
  position: absolute;
  width: 1px;
  background-color: darkgreen;
  top: 5px;
  bottom: 7px;
  height: 7px;
  left: -10px;
}

ul li::after {
  content: " ";
  position: absolute;
  left: -10px;
  width: 10px;
  height: 1px;
  background-color:darkgreen;
  top: 12px;
}

